* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: Sans-serif;
}

h2 {
  text-align: center;
  margin: 20px;
}

.father {
  height: 292px;
 }

.father .col-12 {
  height: 100%;
}

[class^="col-"].red:hover {
  border-color: red;
  background-color: yellow;
}

[class^="col-"].green:hover {
  border-color: green;
  background-color: blue;
}

[class^="col-"].blue:hover {
  border-color: blue;
  background-color: green;
}

[class^="col-"].yellow:hover {
  border-color: yellow;
  background-color: red;
}
